In [21]:
import pandas as pd

In [22]:
#SQL Alchemy
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:zekcoh2509@localhost/employees_db')
connection = engine.connect()

In [24]:
data = pd.DataFrame(engine.execute("select * from  salary_for_employee"))

In [32]:
data = data.rename(columns={0:'employee'})
data = data.rename(columns={1:'salary'})

In [33]:
data.head()

   employee  salary
0    205000  129492
1     44188  127238
2    444756  127041
3    458302  126703
4     37558  125469